<div class="form">
  <%= form_for @task do |form| %>
  <p>Title: <%= form.text_field :title%></p>
  <p>Description: <%= form.text_field :description %></p>
  <p>Deadline: <%= form.date_field :deadline %></p>
  <%= form.submit %>
  <% end %>
</div>
